<% layout('./layouts/boilerplate') -%>

<body>
    <div class="row">
        <div class="col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
            <h2 class="text-center">Add Campground </h2>
            <form class="validate-form" action="/campground" method="POST" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <input type="text" class="form-control" name="campground[title]" id="title" placeholder="Enter Campground" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                
                <div class="mb-3">
                    <label for="formFileMultiple" class="form-label">Upload Images:</label>
                    <input class="form-control" name="image" type="file" id="formFileMultiple" multiple>
                  </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location:</label>
                    <input type="text" class="form-control" name="campground[location]" id="location" placeholder="Enter Location" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <textarea class="form-control" placeholder="Leave a comment here" id="description" name="campground[description]" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="price">$</span>
                    <input type="text" class="form-control" placeholder="0.0" aria-label="Username" aria-describedby="price" name="campground[price]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3 text-center ">
                    <button class="btn btn-success ">Add Campground</button>  
                    <button class="btn btn-dark  "><a href="/campground" style="text-decoration: none; color: white;">Back to Campgrounds</a></button>
                </div>
                
            </form>
            <br>
        </div>
    </div>
    
</body>

